<template>
  <div class="hello">
    <h1>My Vue App - About Us</h1>
    <h2>{{ msg }}</h2>
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="about">About</router-link>
      </li>
      <li>
        <router-link to="contact">Contact</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      msg: 'This is a about us page.'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
